*{
    padding: 0px;
    margin: 0px;
     background-color: black;
  ;
}

body {
    font: 1em/150% Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #0b5ee3;
   
    
    

}
a{
    text-decoration: none;
    
    border: none;


}
#logo{
    position: relative;
  
    top: -20px;
    display: block;
    left: 300px;
    z-index: 1; 
    height:137px;
    width: 137px;

   
}
 #escolamode{
    height:128px;
    width: 170px;
   
    

 }  
.layouthead{
    position: absolute;
    background-color:#397be6;
    height: 137px;
    width:100%; 
    background-size: 100%;
    top: -5px;
    

}
#kda{
    position: absolute;
    z-index: 1;
    left: 900px;
    top: 50px;
    

}
#textsearch{
    background-color: white;
    height: 23px;
    border: #0b5ee3
}
.btn_search{
    width:30px;
    height: 28px;
    background-color: #2f4550;
    padding: 5px;
    cursor: pointer;
}



.menu ul li{
    z-index: 1;
    position: relative;
    background-color: #0b5ee3;
    color: white;
    float: left;
    width: 200px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
  

}
.menu{
    position: relative;
    top:-39px;
   
}
.menu ul li:hover{
    background-color: #052963
}




.menu ul{
    top: 4px;
    padding: 0;

}
.menu ul ul{
    display: none;

}
.menu ul li:hover > ul{
    display: block;

}
.menu ul ul ul{
    color: #397be6;
    margin-left: 201px;
    top:0px;
    position: absolute;
    z-index: 1;
}
.menu ul ul li:hover{
    background-color: #083580;
    
}
.menu a{
    color: white;
    text-decoration: none;
}



.body_content{

    top: 250px;
    position: absolute;
    border: #0b5ee3 5px solid;
    width:780px;
    height: 1000px;
    text-align: justify;
    background-color: #edf4fa;

}
.produtos{
    
    position: relative;
    height: 1000px;
    width: 400px;
    left: 850px;
    top: 60px;
    
    
}
table{
    
    text-align: center;
    border-collapse: collapse;
    border: 3px solid #0b5ee3;
    background-color:7c95aa; 
    color: black;
}
.table_products{
    position:absolute;
    height: 100px;
    width: 100%;
    

}
.products_size{
    width: 180px;
    height: 150px;
 
}
tr:hover{
    background-color: black
}
.title_table{
text-align: center;
width: 400px;
position: absolute;
background-color: #0b5ee3; 
color: white;
}
.products_item{
    padding:20px;
}

#myCarousel{
    height: 300px;
    width: 400px;
    position: relative;
    left:850px;
    top: 60px;

}
    

