@media (max-width: 800px) {
#logo{
	display: block;
	margin-left: 60px;
	margin-top:-50px;
	width: 60%;
	height: 50px;


	
}	
.menu{
    user-select: none;
	height: auto;
	width:100%;
	user-select: none;
	z-index: 1;
	margin-left:-100%;
	transition:all .4s;
	}
label[for='bt_menu']{
	display:block;
	}
.menu>ul{
	margin-left:0;
	}

	
	
.menu ul li{
	height:auto;
	width:100%;
	float:none;
	font-size: 20px;
	}
.menu ul ul{
	position:static;
	overflow:hidden;
	max-height:0;
	transition:all .4s;
	}
.menu ul li:hover ul{
	height:400;
	max-height:400px;
	transition:all .4s;
	}
#bt_menu:checked ~ .menu{
	margin-left:0;
	}
.logo_3d{
    display: none;
    
}	
.search_bar{
    display: none;
}
#field_search{
   display: none;

   

}
.lupa{
    float: left;
    margin-top: -290px;
   position: fixed;
    margin-left: 93%;
    height: 40px;
    width: 30px;
    
  
     
   
   
}
.field_lupa{
    display: block;
}
.carousel_box{
     float: left;
    width: 98%;
    height: 300px;
    margin-left: 0px;
    margin-top:50px;
   
}
.section2{
    margin-top: ;
}
.entrar{
    margin-top: -50px;
    margin-left:77%;
    z-index: 2;
    background-color: white;
    width:15%;
    border-radius: 5px;
    padding: 5px;
    line-height: 100%;
   
}
.entrar:hover{
    background-color:#0b5ee3;

   
/* fechamento do @media */
}

