*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	border: 0px;
	
	
	}
.body_content{
    
background-image:url("../img/layer.png")  ;
height: 1000px;
width: 100%;








}
.header{
    z-index: 1;
    width: 100%;
   
    height: 60px;
    float: left;
    background-color: #0b5ee3;
  border-bottom: 3px white solid;
  position: fixed;
    


}







.logo_content{


	margin: 0px;
	width:305px;
	height: 45px;
	

	

	
}
	
.menu{

	
	width:56%;
	height:45px;
	margin-left: 293px;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #0b5ee3;
   
color: #fff;
  
	}
	
.menu>ul{
	list-style:none;	
	position:relative;

	}
.menu ul li{
		width:112.5px;
		float:left;
		text-align: center;
		line-height: 45px;
		height: 50px;
	}

.menu a{

	font-size: 20px;
  
  
-webkit-text-stroke-width: 0.5px;
-webkit-text-stroke-color:black;
 
	display:block;
	text-decoration: none;
	text-align:center;
	color: white;
	font-size: 20px;
	border: #0b5ee3;
	}
.menu ul ul{
	border-bottom: #0b5ee3 2px;
	list-style:none;
	
	visibility:hidden;
	margin-top: 2px;
	
	}
.menu ul li:hover ul{
	visibility:visible;
	}
	
.menu a:hover{
	background-color:#f4f4f4;
	}

.menu ul ul li{
  float:none;
  background-color: #87afff ;
	border-bottom: solid 5px #ccc;
	}
.menu ul ul li a{
	background-color:#0b5ee3;
	}
#bt_menu{
	display: none;
	}
label[for='bt_menu']{
	padding:5px;
	background-color:#222;
	color:#fff;
	font-family:'Arial';
	
	font-size:30px;
	cursor:pointer;
	display:none;
	width:50px;
	height:50px;
	
	}	
label[for='bt_menu']:hover{
	background-color:#f4f4f4;
	color:#aaa;
	}
	#logo{
		margin-left: 0px;
		margin-top: -4px;
		padding: 5px;
		border-radius: 5px;
    position: absolute;
    width: 20%;
    }
   .logo_3d{font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 250px;
    height:45px;
    user-select: none;
    
    background-color: #0b5ee3;
    font-size: 50px;
    text-align: center;
    float: left;
    line-height: 45px;
	color: #fff;
	margin-left: 40px;



}
.search_bar{
      margin-left: 0px;
      margin-top: -45px;

   
    left: 68%;
    border-top: 5px solid #0b5ee3 ;
    width: 190px;
    float: left;
    background-color:#0b5ee3;
    height: 45px;
    

}
#field_search{
    background-color:#dadada;
    height: 23px;
    border: #0b5ee3;
    width: 150px;
    margin-left: 10px;
    float: left;
    margin-top: 5px;

}
 

    
.field_lupa{
    
    width:30px;
    height: 30px;
    background-image: url(../img/lupa3.jpg);
    padding: 0px;
    cursor: pointer;
    float: left;
    
      
   }
    .lupa{
   
   margin-left: 167px;
    margin-top: -40px;
    width:30px;
    height: 40px;
    background-color:#0b5ee3;
    padding: 0px;
    user-select: none;
    float: left;
    
      border-bottom:10px;
    cursor: pointer;}
    /* fim do header */
 .section2
  {
      height: 4%;
      float: left;
      width: 100%;
      margin-top: 65px;
      background-color:white;}
       .title{
      height: 100%;
      float: left;
      width: 300px;
     
      font-family: arial;
      color: #0b5ee3;;
      line-height: 40px;
      margin-left: 20%;
       }
       .entrar{
     
      width: 150px;
      height: 45px;
        margin-left: 600px;
       background-color:#0b5ee3 ;
        float: left;
        cursor: pointer;
       z-index: 1;
        margin-top: -45px;
        list-style: none;
        text-align: center;
        position:fixed;
      
     
       }
        .entrar a{

	display:block;
	text-decoration: none;
	color: black;
    font-size: 20px;
    list-style: none;
    line-height: 45px;
   
	

  }
.entrar:hover{
    background-color:#f4f4f4;
	}
 .carousel_box{
    margin-left:10%;
    float: left;
   background-color:#0b5ee3;
    height: 400px;
    width:600px;
    margin-top:15px;
     }
   #myCarousel{
     height:100% ;
     width: 100%;
     
    
   
    
  
          


}
.carousel-inner{
    height: 100%;
    width: 60%;
   




}
.carousel_image{
      height: 400px;
    width:700px;
     

}
.produtos{
  
  height: 500px;
  background-color: #61ede8;
  width: 285px;
  margin-left: 65%;
  margin-top: 120px;
  float: left;
  position: absolute;
  text-align: center;
  background-image: url(../img/geografia2.jpg);
 
  }
.produtos img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.title_product{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 250px;
    height:45px;
    user-select: none;
    margin-top: 20px;
    line-height:center;

}
.item1{
   
    width: 125px;
    height: 130px;
    
    margin-top:3px ;
    margin-left: 10px;
    float: left;
   border: white 3px solid;
    left: 2px;
   position: absolute;
    
   
  
    
}
.item2{
    width: 125px;
    height: 130px;
    margin-top: -90px;
    margin-left: 135px;
    float: left;
   
    border: white 3px solid;
   position: absolute;
    

    
    
}
#caneca{
  margin-top: -100px;
}

.item3{
      width: 125px;
    height: 130px;
    margin-top: 40px;
    margin-left: -140px;
    float: left;
    
    border: white 3px solid;
   position: absolute;
}
.item4{
     width: 125px;
    height: 130px;
    margin-top: -90px;
    margin-left: 135px;
    float: left;
   
   border: white 3px solid;
   position: absolute;
  }
 .item5{
      width: 125px;
    height: 130px;
    margin-top: 40px;
    margin-left: -140px;
    float: left;
  
    border: white 3px solid;
   position: absolute;

  

}   
.item6{
     width: 125px;
    height: 130px;
    margin-top: -120px;
    margin-left: 135px;
    float: left;
  
    border: white 3px solid;
   position: absolute;
  
}
.presentation{
 background-color:#bff5f1;
  width: 850px;
  float: left;
  height: 200px;
  margin-top: -400px;
}
.title2{
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #0b5ee3;
   
}
.content_simulado{
  font-size: 20px;
  color: black;
  margin-top: 20px;
  text-align: left;
}
.body_content3{
  width: 200px;
  height: 600px;
  float: left;
  margin-top: 100px;
  margin-left: 200px;

}
.menu2
 { margin: 0;
   padding: 0;
   float: left; 
   text-align: center;
   font-size: 20px;
   color: black
 }

.menu2 li { list-style: none;
   background: #fff;
    width: 350px; 
    border-bottom: 3px solid rgb(89, 154, 207); }
 .menu2 a{
   color: black;
 }   

.menu2 ul li a { display: block;
   padding: 8px;
    border-left: 4px solid #444;
    text-decoration: none;

     box-shadow: 2px 2px 5px #ccc; 
     color: black;; }
.menu2 li a:hover
 { border-left: 4px solid #069;
   background: #f8f8f8; }
.menu2 li ul { display: none; }
.menu2 li:hover ul {
   display: block; }
.menu2 li:hover ul li {
   background: #f4f4f4; }
.menu2 li:hover ul li a { 
  color: #ccc; }
.menu li:hover ul li a:hover 
{ background: #222; 
  border-left: 4px solid #900; }


.legendas{
 margin-left: 550px;
  float: left;
  width: 400px;
  height:400px;
  background-image: url(../img/seta.png);
  margin-top: -600px;
  font-size: 20px;
}
  

.body_contentmath{
  margin-top: 150px;
width: 100%;
height: 800px;
float: left;
background-color:#bbe1f0;

}
.body_contenta{
    width: 200px;
    height:150px;
        background-color: white;
   margin-top: 20px;
     margin-left: 50px;
    font-size: medium;
    text-align: center;
    color:#0b5ee3;
    border-radius: 12px;
    line-height: 30px;
    border-left: 4px #0b5ee3 solid ;
   float: left;
}    


.body_contentb{
    width: 200px;
    height:150px;
     float: left;
    background-color: white;
    margin-top: 45px;
    font-size: medium;
    text-align: center;
   
    border-radius: 12px;
     line-height: 30px;
    border-left: 4px #0b5ee3 solid ;

} 

.body_content4{
     width: 200px;
    height:150px;
    background-color: white;
    left: 0%;
    font-size: medium;
    text-align: center;
    margin-top: 55px;
    border-radius: 12px;
     line-height: 30px;
    border-left: 4px #0b5ee3 solid; 
   float: left;}
    .body_content5{
       width: 200px;
    height:150px;
    float: left;
    background-color: white;
      margin-left: 220px;
    font-size: medium;
    text-align: center;
   margin-top: -520px;
    border-radius: 12px;
     line-height: 30px;
    border-left: 4px #0b5ee3 solid ;}
    .body_content6{
      width: 200px;
    height:150px;
    background-color: white;
    
    font-size: medium;
    text-align: center;
    margin-top: 60px;
    border-radius: 12px;
    line-height: 30px;
    border-left: 4px #0b5ee3 solid; 
   float: left;
    border-radius: 12px;
    line-height:30px;
     border-left: 4px #0b5ee3 solid ;}
.body_content7{
      width: 200px;
    height:150px;
    background-color: white;
    font-size: medium;
    text-align: center;
    margin-top: 50px;
    border-radius: 12px;
     line-height: 30px;
    border-left: 4px #0b5ee3 solid; 
   float: left;
    border-radius: 12px;
    line-height: 30px;
}
.body_content8{
    width: 200px;
    margin-left: 200px;

    height:150px;
    float: left;
    background-color: white;
      margin-top: -500px;
    font-size: medium;
    text-align: center;
    
    border-radius: 12px;
     line-height: 30px;
    border-left: 4px #0b5ee3 solid ;}
    .body_content9{
     width: 200px;
    height:150px;
    background-color: white;
    left: 0%;
    font-size: medium;
    text-align: center;
   margin-top: 50px;
    border-radius: 12px;
     
    border-left: 4px #0b5ee3 solid; 
    float: left;
    border-radius: 12px;
    line-height: 25px;}
    .body_content10{
     width: 200px;
    height:150px;
    background-color: white;
  
    font-size: medium;
    text-align: center;
    margin-top: 30px;
    border-radius: 12px;
     line-height: 30px;
    border-left: 4px #0b5ee3 solid; 
    float: left;
    border-radius: 12px;
    line-height: 30px;}
    .body_content11{
      margin-left: -450px;
      margin-top: 40px;
     width: 200px;
    height:150px;
    float: left;
    background-color: white;
    border-left: 4px #0b5ee3 solid ;
    
    font-size: medium;
    text-align: center;
    
    border-radius: 12px;
     line-height: 30px;
    }
    .body_content12{
    width: 200px;
    height:150px;
    background-color: white;
    
    font-size: medium;
    text-align: center;
    margin-top: -130px;
    margin-left: 220px;
    border-radius: 12px;
    line-height: 15px;
    border-left: 4px #0b5ee3 solid; 
    float: left;
    border-radius: 12px;
     line-height: 30px;

    }
    .body_content13{
    width: 200px;
    height:150px;
    background-color: white;
    
    font-size: medium;
    text-align: center;
    margin-left: 210px;
   margin-top: -100px;
    border-radius: 12px;
    line-height: 15px;
    border-left: 4px #0b5ee3 solid; 
    float: left;
    border-radius: 12px;
     line-height: 25px;
    }
    .titlebody_content14{
          width: 400px;
    height:40px;
    float: left;
    background-color: #0b5ee3;
    top:850px;
    left: 15%;
    font-size: larger;
    text-align: center;
    padding: 12px;
    border-radius: 12px;
    line-height: 15px;
    color: white;
    margin-top: -100px;
    margin-left: 200px;
    }
     .body_content14{
         width: 100%;
    height:1500px;
    background-color: #bbe1f0;

    font-size: medium;
    text-align: justify;
 
    border-radius: 12px;
    line-height: 15px;
    border-left: 4px #0b5ee3 solid; 
    float: left;
    border-radius: 12px;
     line-height: 25px;
     margin-top: 800px;
     margin-left:20px ;
     color: black;
     
     }
     .body_content15{
         width: 400px;
    height:40px;
    float: left;
    background-color: #0b5ee3;
    margin-top: 200px;
    margin-left: 200px;
    font-size: larger;
    text-align: center;
    padding: 12px;
    border-radius: 12px;
    line-height: 15px;
    color: white;
         
     }
     .body_content16{
          width: 100%;
    height:800px;
    background-color: #bbe1f0;
   
    font-size: medium;
    text-align: justify;
    
    border-radius: 12px;
    line-height: 15px;
    float: left;
    border-radius: 12px;
     line-height: 25px;
     margin-top: 50px;
     margin-left: 20px;
     color: black;
     }
         
footer{
  float: left;
 
  margin-top: 4200px;
  width: 100%;
  height: 200px;
  background-color:#0b5ee3 ;
}

.foot{
  float: left;
  width: 50%;
background-color: black;
  margin-left: 15%;
   
}
.foot ul li{
    z-index: 1;
  
    float: left;
    width: 20%;
    height: 10%;
    display: block;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    background-color:black;
   
  
    
 } 

.foot ul{
    top: 4px;
    padding: 0;
} 
.foot a{
    text-decoration:none;
    color: white;
}
