*{
    padding: 0px;
    margin: 0px;
    
    background-size: 100%;
    font-size: 100%;
    
}

body {
    font: 1em/150% Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #edddc5;
    

}

   
 
.layouthead{
    position: relative;
    background-color:#397be6;
    height: 137px;
    width:100%; 
    background-size: 100%;
    min-width: 168px;
    max-width: 100%;

   
}
#logo{
    top: 2%;
    position: relative;
    left: 30%;
    z-index: 1; 
    height:98%;
    width: 17%;
}
#escolamode{
    height:90%;
    width: 97%;
}

#kda{
    position: absolute;
    z-index: 1;
    left: 67%;
    top: 35%;
    width: 20%;
    

}
#textsearch{
    background-color: white;
    height: 23px;
    border: #0b5ee3;
}

.btn_search{
    position: absolute;
    width:12%;
    height: 25px;
    background-color: #2f4550;
    padding: 0px;
    cursor: pointer;
    top: 0px;
    
}

 .cadastro {
     position: relative;
     width: 10%;
     height: 8%;
     left:85% ;
     top: -73%;
 }   

.cadastro ul li{
    border-radius: 25px;
    padding: 2px;
    display: block;
    width: 100%;
    height: 8%;
    background-color:#0b5ee3;;
    text-align: center;
    position: relative;
    float: left;
    z-index: 2;
    font-size: 14px;
    line-height:40px;

}
.cadastro ul{
    padding: 0px;
    width: 100%;
    z-index: 99;
}
    .cadastro ul ul{
        position: absolute;
        top: 45px;
        z-index: 99;
        display: none;
        margin-left: 0%;
        
    } 
 

    
    

.cadastro ul li:hover > ul{
    display: block;
}
.cadastro ul li:hover{
    background-color: #052963;

}
.cadastro a{
    text-decoration: none;
    color: white;
}

.circulo{
       
		width:50px;
		height:50px;
		border-radius:50%;
		border:3px solid #0b5ee3;
		background:#0b5ee3;
        position: relative;
        left: 0%;
        top: -100%
        }
.circulo:hover{
    background-color:#052963 ;
}
.img{   
        position: absolute;
	    z-index:1;
	    width:40%;
        height:100%;
        background-position:center;
        left: 35%;
        top:20%;
		
        }

 #img_home{
      width:50%;
      height:70%;

 }
 .body_content{
    left: 0%;
    top: 10%;
    position: relative;
    width:100%;
    height: 1000px;
    background-color: #edf4fa;}
 
    .body_content2{
  left: 20%;
  width: 400px;
  height: 600px;
  background-color:#0b5ee3;
  position: absolute;
  text-align: center;
  top: 20%;
  color: white;
  font-size: 15px;
  


    }
    .btn_size{
        padding-top: 20px;
        padding-left: 20px;
    }
     
.btn_submit{
    position: relative;
  
    top: 60px;
    left: -100px;

}
.btn_msg{
    position: relative;
    
   
    left: 50px;
    top: 20px;


}


        

        .content {
            display: flex;
            justify-content: center;
        }

        .contato {
            width: 100%;
            max-width: 500px;
        }

        .form {
            display: flex;
            flex-direction: column
        }

        .field {
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px
        }

        textarea {
            height: 150px;
            width: 250px;
            
        }
.foot{
    top: 1060px;
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: #0b5ee3;
    
    
}
 


 
 .foot ul li{
    z-index: 1;
    position: relative;
    float: left;
    width: 15%;
    height: 10%;
    display: block;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    background-color:black;
    left: 20%;
  
    
 } 

.foot ul{
    top: 4px;
    padding: 0;
} 
.foot a{
    text-decoration:none;
    color: white;
}